@import url("https://fonts.googleapis.com/css?family=Francois+One|Oxanium|Passion+One|Viga&display=swap");
body {
  background: rgb(20, 20, 20) !important;
}
* {
  font-family: "Viga", sans-serif;
}
.App {
  text-align: center;
}

.tool-top {
  /* background: rgb(0, 0, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.527) !important; */
  /* display: none !important; */
}
