@import url("https://fonts.googleapis.com/css?family=Francois+One|Oxanium|Passion+One|Viga&display=swap");
body {
  background: rgb(20, 20, 20) !important;
}
* {
  /* font-family: "Francois One", sans-serif; */
  /* font-family: "Passion One", cursive; */
  /* font-family: "Oxanium", cursive; */
  font-family: "Viga", sans-serif;
}
.App {
  text-align: center;
}
